---
Checks:          '*,-abseil-*,-fuchsia-*,-google-*,-llvm-*,-zircon-*,
                  -altera-id-dependent-backward-branch,
                  -altera-struct-pack-align,
                  -altera-unroll-loops,
                  -bugprone-easily-swappable-parameters,
                  -bugprone-reserved-identifier,
                  -cert-dcl21-cpp,
                  -cert-dcl37-c,
                  -cert-dcl51-cpp,
                  -cert-dcl59-cpp,
                  -clang-diagnostic-c++98-compat-pedantic,
                  -clang-diagnostic-unused-macros,
                  -cppcoreguidelines-avoid-c-arrays,
                  -cppcoreguidelines-avoid-non-const-global-variables,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -cppcoreguidelines-macro-usage,
                  -cppcoreguidelines-no-malloc,

                  -cppcoreguidelines-owning-memory,
                  # https://github.com/isocpp/CppCoreGuidelines/issues/1589,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,

                  -hicpp-avoid-c-arrays,
                  -hicpp-member-init,
                  -hicpp-noexcept-move,
                  -hicpp-no-malloc,
                  -hicpp-special-member-functions,
                  -hicpp-use-auto,
                  -hicpp-vararg,
                  -llvmlibc-callee-namespace,
                  -llvmlibc-implementation-in-namespace,
                  -llvmlibc-restrict-system-libc-headers,
                  -misc-definitions-in-headers,
                  -misc-unused-using-decls,
                  -modernize-avoid-c-arrays,
                  -modernize-use-auto,
                  -readability-braces-around-statements,
                  -readability-else-after-return,
                  -readability-function-cognitive-complexity,
                  -readability-magic-numbers,
                  -readability-misleading-indentation,
                  -readability-named-parameter,
                  '
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
