[submodule "external/pybind11"]
	path = bindings/python/external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "cmake-module"]
	path = cmake-module
	url = https://github.com/jrl-umi3218/jrl-cmakemodules.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
