ci:
    autoupdate_branch: 'devel'
repos:
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.4
    hooks:
    -   id: clang-format
        args: ['--style={BasedOnStyle: Mozilla, SortIncludes: false}']
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
    -   id: black
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
